---
BasedOnStyle: WebKit
Language: Cpp
Standard: c++20
Cpp11BracedListStyle: true
ColumnLimit: 220
AccessModifierOffset: -3
CommentPragmas: "^!|^:"
FixNamespaceComments: true
AlignOperands: Align
AlignConsecutiveAssignments: true
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: BeforeComma
BreakBeforeBraces: Allman
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Right
AlignTrailingComments: true
BreakTemplateDeclarations: Yes
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: Empty
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
SortIncludes: Never
ForEachMacros: [foreach, Q_FOREACH, BOOST_FOREACH, forever, Q_FOREVER, QBENCHMARK, QBENCHMARK_ONCE]
UseTab: ForIndentation
TabWidth: 3
IndentWidth: 3
IndentCaseLabels: true
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 3
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
AlignConsecutiveDeclarations: true
StatementAttributeLikeMacros: [emit]
---
Language: Json
DisableFormat: true
---
Language: JavaScript
DisableFormat: true
